.adm-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: white;
    font-family: sans-serif;
}

.img-estrada,
.rodape {
    width: 100%;
}

.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.logo {
    height: 80px;
}

.saudacao {
    font-size: 24px;
    font-weight: bold;
    justify-content: flex-end;
    color: black;

}

#ola {
    margin: 0px;
}

.saudacao span {
    color: red;
}

.adm-botao-sair {
    font-size: 14px;
    font-weight: bold;
    padding: 0px;
    border: 0px;
    right: 32px;
    position: absolute;
    color: black;

}

.lotado {
    display: flex;
    justify-content: center;
}

#lotado {
    font-size: 28px;
    color: red;
    margin: 2rem 0;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
}

.adm-cadastrar-acesso {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#adm-formulario-acesso {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;

}

.input-acesso {
    padding: 10px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 20px;
    width: 200px;
    margin: 10px;
}

.select-acesso {
    padding: 10px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 20px;
    width: 225px;
    margin: 10px;

}

#adm-acesso-titulo {
    font-size: 25px;
    font-weight: bold;
    color: black;
    font-family: 'Anton', sans-serif;
}

.adm-botao-registrar {
    background-color: black;
    color: white;
    font-size: 25px;
    padding: 10px 25px;
    border-radius: 30px;
    border: none;
    font-family: 'Anton', sans-serif;
}

.status-estacionamento {
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 25px;
    margin-top: 25px;
    color: black;
    font-family: 'Anton', sans-serif;
}

.status-estacionamento span {
    background: white;
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px 15px;

}

.status-estacionamento .status {
    color: red;
    font-family: 'Anton', sans-serif;
}

.div-relatorio {
    display: flex;
    justify-content: flex-end;
    padding-right: 32px;
}

.adm-botao-relatorio {
    background-color: black;
    color: white;
    font-size: 25px;
    padding: 10px 15px;
    border-radius: 30px;
    border: none;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 250px;
    font-family: 'Anton', sans-serif;
}